In [1]:
! pip install boto3 pymongo twitter --quiet

In [2]:
from pymongo import MongoClient

In [3]:
mongo_client = MongoClient('edit here', 27016)
database_reference = mongo_client.twitter
collection_reference = database_reference.tweets

In [4]:
cursor = collection_reference.find()

In [6]:
next(cursor)

{'_id': ObjectId('5b562057cfd9de0efb61d3b5'),
 'created_at': 'Sat Jul 21 20:58:43 +0000 2018',
 'id': 1020775097898917888,
 'id_str': '1020775097898917888',
 'text': 'Canâ€™t wait to go home and play video games already smh',
 'source': '<a href="http://twitter.com/download/iphone" rel="nofollow">Twitter for iPhone</a>',
 'truncated': False,
 'in_reply_to_status_id': None,
 'in_reply_to_status_id_str': None,
 'in_reply_to_user_id': None,
 'in_reply_to_user_id_str': None,
 'in_reply_to_screen_name': None,
 'user': {'id': 3096943027,
  'id_str': '3096943027',
  'name': 'mattygeee',
  'screen_name': 'Mattygeee1',
  'location': 'Los Angeles, CA',
  'url': None,
  'description': None,
  'translator_type': 'none',
  'protected': False,
  'verified': False,
  'followers_count': 286,
  'friends_count': 399,
  'listed_count': 4,
  'favourites_count': 7501,
  'statuses_count': 17775,
  'created_at': 'Thu Mar 19 01:14:05 +0000 2015',
  'utc_offset': None,
  'time_zone': None,
  'geo_enabled': True,
  'lang': 'en',
  'contributors_enabled': False,
  'is_translator': False,
  'profile_background_color': '000000',
  'profile_background_image_url': 'http://abs.twimg.com/images/themes/theme1/bg.png',
  'profile_background_image_url_https': 'https://abs.twimg.com/images/themes/theme1/bg.png',
  'profile_background_tile': False,
  'profile_link_color': 'E81C4F',
  'profile_sidebar_border_color': '000000',
  'profile_sidebar_fill_color': '000000',
  'profile_text_color': '000000',
  'profile_use_background_image': False,
  'profile_image_url': 'http://pbs.twimg.com/profile_images/976278641431650304/QDCKALf8_normal.jpg',
  'profile_image_url_https': 'https://pbs.twimg.com/profile_images/976278641431650304/QDCKALf8_normal.jpg',
  'profile_banner_url': 'https://pbs.twimg.com/profile_banners/3096943027/1522005281',
  'default_profile': False,
  'default_profile_image': False,
  'following': None,
  'follow_request_sent': None,
  'notifications': None},
 'geo': None,
 'coordinates': None,
 'place': {'id': '59612bd882018c51',
  'url': 'https://api.twitter.com/1.1/geo/id/59612bd882018c51.json',
  'place_type': 'city',
  'name': 'Santa Monica',
  'full_name': 'Santa Monica, CA',
  'country_code': 'US',
  'country': 'United States',
  'bounding_box': {'type': 'Polygon',
   'coordinates': [[[-118.517358, 33.995177],
     [-118.517358, 34.050199],
     [-118.443482, 34.050199],
     [-118.443482, 33.995177]]]},
  'attributes': {}},
 'contributors': None,
 'is_quote_status': False,
 'quote_count': 0,
 'reply_count': 0,
 'retweet_count': 0,
 'favorite_count': 0,
 'entities': {'hashtags': [], 'urls': [], 'user_mentions': [], 'symbols': []},
 'favorited': False,
 'retweeted': False,
 'filter_level': 'low',
 'lang': 'en',
 'timestamp_ms': '1532206723080'}

In [8]:
cursor = collection_reference.find()

In [9]:
cursor.count()

/opt/conda/lib/python3.6/site-packages/ipykernel_launcher.py:1: DeprecationWarning: count is deprecated. Use Collection.count_documents instead.
  """Entry point for launching an IPython kernel.

11798

In [10]:
collection_reference.count_documents({})

11798

In [32]:
collection_reference.aggregate

In [12]:
cursor_sampl = collection_reference.aggregate(
    [{'$sample': {'size': 20}}]
)

In [13]:
len(list(cursor_sampl))

20

In [14]:
next(cursor_sampl)

StopIteration:

In [16]:
cursor_sampl = collection_reference.aggregate([{'$sample': {'size': 1}}])

In [17]:
tw = next(cursor_sampl)

In [18]:
tw.keys()

dict_keys(['_id', 'created_at', 'id', 'id_str', 'text', 'source', 'truncated', 'in_reply_to_status_id', 'in_reply_to_status_id_str', 'in_reply_to_user_id', 'in_reply_to_user_id_str', 'in_reply_to_screen_name', 'user', 'geo', 'coordinates', 'place', 'contributors', 'is_quote_status', 'quote_count', 'reply_count', 'retweet_count', 'favorite_count', 'entities', 'favorited', 'retweeted', 'filter_level', 'lang', 'timestamp_ms'])

In [19]:
list(tw.values())[:5]

[ObjectId('5b59240e35c77d0014b73372'),
 'Wed Jul 25 14:39:10 +0000 2018',
 1022129132849614848,
 '1022129132849614848',
 'let me be whisper\nmagnifying light\nstop pressing myself into holes\nto fortify dark systems\nlet love expand me\ni wonâ€™t fight\n\n#MorningPages']

In [20]:
import pandas as pd

In [21]:
cursor = collection_reference.aggregate([{'$sample': {'size': 5}}])

tw_sample_df = pd.DataFrame(list(cursor))

In [19]:
tw_sample_df.dtypes

_id                           object
contributors                  object
coordinates                   object
created_at                    object
display_text_range            object
entities                      object
extended_entities             object
favorite_count                 int64
favorited                       bool
filter_level                  object
geo                           object
id                             int64
id_str                        object
in_reply_to_screen_name       object
in_reply_to_status_id        float64
in_reply_to_status_id_str     object
in_reply_to_user_id          float64
in_reply_to_user_id_str       object
is_quote_status                 bool
lang                          object
place                         object
possibly_sensitive            object
quote_count                    int64
quoted_status                 object
quoted_status_id             float64
quoted_status_id_str          object
quoted_status_permalink       object
reply_count                    int64
retweet_count                  int64
retweeted                       bool
source                        object
text                          object
timestamp_ms                  object
truncated                       bool
user                          object
dtype: object

In [22]:
tw_sample_df.select_dtypes([int])

,favorite_count,id,quote_count,reply_count,retweet_count
0,0,1022164818227130368,0,0,0
1,0,1020775097898917888,0,0,0
2,0,1022182769932357632,0,0,0
3,0,1022173626966073344,0,0,0
4,0,1022178483072430080,0,0,0

In [23]:
tw_sample_df.select_dtypes([float])

   in_reply_to_status_id  in_reply_to_user_id
0           1.022164e+18           46116615.0
1                    NaN                  NaN
2                    NaN                  NaN
3                    NaN                  NaN
4                    NaN                  NaN

In [24]:
tw_sample_df.select_dtypes(['object'])

,_id,contributors,coordinates,created_at,display_text_range,entities,extended_tweet,filter_level,geo,id_str,in_reply_to_screen_name,in_reply_to_status_id_str,in_reply_to_user_id_str,lang,place,possibly_sensitive,source,text,timestamp_ms,user
0,5b58adca3aed5a010fe90e89,None,None,Wed Jul 25 17:00:58 +0000 2018,"[13, 71]","{'hashtags': [], 'urls': [], 'user_mentions': ...",NaN,low,None,1022164818227130368,iHeartRadio,1022164323920216064,46116615,en,"{'id': '3b77caf94bfc81fe', 'url': 'https://api...",NaN,"<a href=""http://twitter.com/download/iphone"" r...",@iHeartRadio And apparently left her alone aft...,1532538058226,"{'id': 2286706076, 'id_str': '2286706076', 'na..."
1,5b59240b35c77d0014b73349,None,None,Sat Jul 21 20:58:43 +0000 2018,NaN,"{'hashtags': [], 'urls': [], 'user_mentions': ...",NaN,low,None,1020775097898917888,None,None,None,en,"{'id': '59612bd882018c51', 'url': 'https://api...",NaN,"<a href=""http://twitter.com/download/iphone"" r...",Canâ€™t wait to go home and play video games alr...,1532206723080,"{'id': 3096943027, 'id_str': '3096943027', 'na..."
2,5b58bea63aed5a010fe91cb9,None,None,Wed Jul 25 18:12:18 +0000 2018,NaN,"{'hashtags': [], 'urls': [], 'user_mentions': ...",NaN,low,None,1022182769932357632,None,None,None,it,"{'id': '3b77caf94bfc81fe', 'url': 'https://api...",NaN,"<a href=""http://twitter.com"" rel=""nofollow"">Ge...",TEST_GEO_Hierarchy: fc191f4e-cedd-4e2f-b82d-1e...,1532542338246,"{'id': 758415480881164288, 'id_str': '75841548..."
3,5b58b5f73aed5a010fe91596,None,None,Wed Jul 25 17:35:58 +0000 2018,NaN,"{'hashtags': [], 'urls': [], 'user_mentions': ...",NaN,low,None,1022173626966073344,None,None,None,en,"{'id': '59612bd882018c51', 'url': 'https://api...",NaN,"<a href=""http://twitter.com/download/iphone"" r...",Lol Iâ€™m never gonna meet justin,1532540158393,"{'id': 36196923, 'id_str': '36196923', 'name':..."
4,5b58ba823aed5a010fe9197c,None,None,Wed Jul 25 17:55:16 +0000 2018,"[0, 140]","{'hashtags': [], 'urls': [{'url': 'https://t.c...","{'full_text': 'Actor and Musician, Sean McNabb...",low,None,1022178483072430080,None,None,None,en,"{'id': '3b77caf94bfc81fe', 'url': 'https://api...",False,"<a href=""http://twitter.com"" rel=""nofollow"">Tw...","Actor and Musician, Sean McNabb always showing...",1532541316179,"{'id': 930601354589958146, 'id_str': '93060135..."

In [25]:
tw_sample_df['created_at'] = pd.to_datetime(tw_sample_df['created_at'])

In [26]:
tw_sample_df.created_at

0   2018-07-25 17:00:58
1   2018-07-21 20:58:43
2   2018-07-25 18:12:18
3   2018-07-25 17:35:58
4   2018-07-25 17:55:16
Name: created_at, dtype: datetime64[ns]

## Tweets Containing Geo Information

In [27]:
contain_geo_search = collection_reference.find({'geo' : { '$ne' : None}})
contain_geo_search

In [28]:
collection_reference.count_documents({'geo' : { '$ne' : None}})

1581

## Distinct Users

#### TRY THIS

In [29]:
len(collection_reference.distinct('user'))

12428

In [30]:
collection_reference.count_documents({})

13148